.container .col-md-6 .col-md-12 .col-md-3 .row {
  border: 2px solid black;
}

body {
  background-color: gray;
}

.portrait {
  max-width: 50%;
  height: auto;
  display: block;;
}

.video-container {
position: fixed;
display: block;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
transform: translateX(-50%) translateY(-51%);
background: url('ssets/video/liquid-welcome.png') no-repeat;
background-size: ;
transition: 1s opacity;
}

.about-me-text {
  padding: 20px;
}

.contact-row {
  height: 300px;
  border: 3px solid black;
  padding: 20px;
}


/* OLD CSS

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



h1, h3 {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: gray;
}

h1.clearfix {
  clear: both;
  float: center;
}

h3 {
  display: block;
}

p {
  float: center;
  display: block;
  width: 450px;
  text-align: center;
/*  margin-left: 350px;*/
/*  width: 90%;
  max-width: 40em;
  margin: 0 auto;


}

#icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  padding: 20px 0px 0px 20px;
}

.top-nav {

  display: inline-block;
  padding: 20px;
}
.work-nav, .about-me-nav, .contact-me-nav {
  margin-right: 60px;
}

.galaxy {
  position: center;
  opacity: .95;
  height: 300px;
}

.info-box {
  padding: 0;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: .5em;
  line-height: 6rem;
  font-weight: 400;
  color:#404040;
  background-color: Lavender;
  width: 100%;
/*  position: absolute;

}

li {
  list-style: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: gray;
}

.footer-nav {
  padding: 20px;
  margin: 50px 0px 40px 150px;
  width: 100%;
}


section, .full-width {
  width: 100%;
  background: LightGrey;
}

.wrap {
  width: 80%;
  max-width: 80em;
  margin: 0 auto;
  padding: 0.2em 0.6em;
}*/