h1, h3 {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: normal;
  color: grey;
}

h3 {
  display: block;
}

img {
  align: center;
}

li {
  list-style: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: grey;
}

div {

}